.digitar {
    background-color: #BBDEFB;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.digitar input {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 1100px;
}

.digitar button {
    background-color: #0D47A1;
    color: white;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;
}